extends _layout

block content
    section.hero
        h1 Meet the Team
    
    section.team-section
        ul.team
            li.team-member
                span.picture
                .lower-third
                    p.first-name Ben
                    p.last-name Tsao
                    ul.roles
                        li.role Team Lead
                        li.role Back-End Engineer

            li.team-member
                span.picture
                .lower-third
                    p.first-name Vijay
                    p.last-name Das
                    ul.roles
                        li.role Front-End Engineer
                    ul.socials
                        li.github
                            a(href="https://github.com/vijaydas")
                        li.website
                            a(href="http://ecomatics.net/")
                        li.linkedin
                            a(href="https://www.linkedin.com/in/vijaytdas/")
            li.team-member
                span.picture
                .lower-third
                    p.first-name Erik
                    p.last-name Sandoval
                    ul.roles
                        li.role Front-End Engineer
                    ul.socials
                        li.github
                            a(href="https://github.com/erik-sandoval")
                        li.twitter
                            a(href="https://twitter.com/_erikSandoval")
                        li.linkedin
                            a(href="https://twitter.com/_erikSandoval")
            li.team-member
                span.picture
                .lower-third
                    p.first-name Awa
                    p.last-name Melvine
                    ul.roles
                        li.role UI Engineer
                    ul.socials
                        li.github
                            a(href="https://github.com/AwaMelvine")
                        li.twitter
                            a(href="https://twitter.com/AwaMelvine")
                        li.linkedin
                            a(href="https://www.linkedin.com/in/awa-melvine-472764102/")
            li.team-member
                span.picture
                .lower-third
                    p.first-name Chris
                    p.last-name Dalao
                    ul.roles
                        li.role UI Engineer
                    ul.socials
                        li.github
                            a(href="http://www.github.com/chrisdalao")
                        li.linkedin
                            a(href="http://www.linkedin.com/in/chrisdalao/")
            li.team-member
                span.picture
                .lower-third
                    p.first-name Mikis
                    p.last-name Woodwinter
                    ul.roles
                        li.role UI Designer
                        li.role UI Engineer
                    ul.socials
                        li.github
                            a(href="https://github.com/Miikis")
                        li.twitter
                            a(href="https://twitter.com/miikisw")
                        li.linkedin
                            a(href="https://www.linkedin.com/in/miikis/")
                    
        