extends _layout

block content
    section.hero
        h1.typed-joke You could write your dad jokes on paper...
        .ctas
            a.cta.cta-primary(href="http://dadjokes.com/sign-up", target="_blank", rel="noopener noreferrer") Word. Sign Me Up!
            a.cta(href="http://dadjokes.com/login", target="_blank", rel="noopener noreferrer") Already have an account?
                strong Log In.

    section.features
        h2 Features
        p We've been busy little beavers. This is the best dam feature set around.

        ul.features-list
            li.feature
                .description
                    h3 Secure Joke Wallet
                    p Store your precious funnies in your very own, 100% velcro-free, Joke Wallet. No one will ever rip you off again!
                .illustration
            li.feature
                .description
                    h3 Joke Reaction Tracker
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text.
                .illustration
            li.feature
                .description
                    h3 Robust Joke Search
                    p Ever reach for that joke in your pocket only to find that you're not wearing any pants? Bummer, right?
                .illustration
            li.feature
                .description
                    h3 Filter Your Favorites
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the text.
                .illustration
            li.feature
                .description
                    h3 Share the Laughs
                    p Ever reach for that joke in your pocket only to find that you're not wearing any pants? Bummer, right? 
                .illustration