$hamburger-padding-x: 1.6rem;
$hamburger-padding-y: 1.6rem;
$hamburger-layer-width: 1.6rem;
$hamburger-layer-height: 0.2rem;
$hamburger-layer-spacing: 0.4rem;
$hamburger-layer-color: $coral-dark;
$hamburger-layer-border-radius: 0;
$hamburger-hover-opacity: 0.7;
$hamburger-active-layer-color: $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;
$hamburger-types: (
    //   3dx,
        //   3dx-r,
        //   3dy,
        //   3dy-r,
        //   3dxy,
        //   3dxy-r,
        //   arrow,
        //   arrow-r,
        //   arrowalt,
        //   arrowalt-r,
        //   arrowturn,
        //   arrowturn-r,
        //   boring,
        //   collapse,
        //   collapse-r,
        //   elastic,
        //   elastic-r,
        //   emphatic,
        //   emphatic-r,
        //   minus,
        //   slider,
        //   slider-r,
        //   spring,
        //   spring-r,
        //   stand,
        //   stand-r,
        //   spin,
        //   spin-r,
        squeeze,
    //   vortex,
        //   vortex-r
);

@import "hamburgers/_sass/hamburgers/hamburgers.scss";
.hamburger {
    outline: none;
    z-index: z-index(hamburger);
}
