$coral: #6462b8;
$coral-dark: #282776;

$patrick: #ff7062;
$patrick-light: #ffa771;

$spongebob: #ffef75;
$spongebob-light: #fffded;

// Breakpoints
$breakpoints: (
    small: 400px,
    medium: 600px,
    large: 800px,
    x-large: 960px
);
